<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.randomappsinc.foodjournal"
    >

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.microphone"/>
    <uses-feature android:name="android.hardware.camera"/>

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.randomappsinc.foodjournal.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            >

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                />
        </provider>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.DishFormActivity"
            android:label="@string/dish_page_title"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".activities.FindRestaurantActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".activities.RestaurantViewActivity"
            android:label="@string/restaurant_view"
            android:screenOrientation="portrait"
            >

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="food_diary"/>
                <data android:host="restaurant"/>
                <data android:pathPattern="/.*"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.CheckInFormActivity"
            android:label="@string/check_in_page_title"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".activities.DishTaggerActivity"
            android:label="@string/dish_tagger"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".activities.DishesFullViewGalleryActivity"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".activities.PictureFullViewActivity"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:screenOrientation="portrait"
            >
        </activity>
    </application>
</manifest>
